@import "tailwindcss";
/* In your global styles.css or tailwind config */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');



/* globals.css */
.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #93c5fd; /* Tailwind blue-300 */
    border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background-color: #dbeafe; /* Tailwind blue-100 */
}
